doctype html
html(lang="en")
  head
    title CraftBB
    link(rel="stylesheet" href=asset.css + "bootstrap.css")
    link(rel="stylesheet" href=asset.css + "style.css")
  body
    .container
      .header
        include header
      .content
        block content
      .footer
        include footer
    include login
    script(src=asset.js + "jquery.js")
    script(src=asset.js + "bootstrap.js")
    script(src=asset.js + "script.js")