extends ../partials/layout

block content
  ol.breadcrumb
    li: a(href=website.domain) Home
    li: a(href=website.domain + "discuss") Discuss 
    li.active Category
    
  .list-group.topics
    .list-group-item.clearfix
      a(href=website.domain + "profile/user").author
        img(src="https://crafatar.com/avatars/629f2895b61842cfa8b47b7cabd738c7?size=40")
      a(href=website.domain + "discuss/category/topic").topic
        h4.topic-title Welcome to CraftBB
        p.topic-preview This topic is suppose to be about something
      a(href=website.domain + "discuss/category/topic/5#55").meta
        | Username replied
        br
        | Today at 3:30 PM